<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortCompany($event)"
       class="mat-elevation-z8" class="container">
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company name</th>
    <td mat-cell *matCellDef="let data"> {{data.companyName}} </td>
  </ng-container>
  <ng-container matColumnDef="companyEmail">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Email</th>
    <td mat-cell *matCellDef="let data"> {{data.companyEmail}} </td>
  </ng-container>
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Contact</th>
    <td mat-cell *matCellDef="let data"> {{data.companyContact}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
    <td mat-cell *matCellDef="let data"> {{data.employeeInfo.joinDate | date}} </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
    <td mat-cell *matCellDef="let data"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
        color="primary">
        <mat-icon>edit</mat-icon>
      </button> <td>
  </ng-container>
  <ng-container matColumnDef="delete">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
  <td mat-cell *matCellDef="let data"> <button mat-icon-button matTooltip="Click to delete" class="iconbutton"
      color="warn">
      <mat-icon>delete</mat-icon>
    </button> <td>
</ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="pagination">
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
</div>