<mat-form-field appearance="standard" class="filter">
    <mat-label search (keyup)="applyFilter($event)">Filter Table</mat-label>
    <input matInput placeholder="" search #input/>
</mat-form-field>
<div>
    <table mat-table matSort [dataSource]="companyDataSource">
        <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
            <td mat-cell>company name</td>
        </ng-container>
        <ng-container matColumnDef="companyEmail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell>company email</td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
            <td mat-cell>company number</td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
            <td mat-cell>created at</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions </th>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
              <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <!-- display no data row when there is no such filter -->
        <tr *matNoDataRow>
            <td class="mat-cell" colspan="5">Filter does not match {{input.value}}</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-label="" select page of company></mat-paginator>
   
</div>