<div style="text-align: center">
    <!-- {{companyDetails.value|json}} -->
    <div style="height: 600px; overflow-y: scroll">
    <form  [formGroup]="companyDetails" class="container">
        <h3 style="text-align:center;">Company Details</h3>
           <div class="company-container">
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input matInput placeholder="company name" formControlName="companyName">
                        <mat-error *ngIf="companyDetails.controls['companyName']?.hasError('maxlength')"><strong>Company name must be less than 300</strong></mat-error>
                        <mat-error *ngIf="companyDetails.controls['companyName']?.hasError('required')"><strong>Company name is required</strong></mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width space-left" appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput placeholder="Address" formControlName="companyAddress"></textarea>
                    </mat-form-field>
                </div>
                <br>
           </div>
            <div class="company-container">
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="test@example.com" formControlName="companyEmail">
                        <mat-error *ngIf="companyDetails.controls['companyEmail'].hasError('email')"><strong>Invalid Email</strong></mat-error>
                        <mat-error *ngIf="companyDetails.controls['companyEmail'].hasError('required')"><strong>Email is required</strong></mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width space-left" appearance="outline">
                        <mat-label>Telephone</mat-label>
                        <input type="tel" matInput placeholder="0987654321" formControlName="companyContact"> 
                        <mat-error *ngIf="companyDetails.controls['companyContact'].hasError('required')"><strong>Contact is required</strong></mat-error>
                    </mat-form-field>
                </div>
                <br>
            </div>
        <div formGroupName="employeeInfo" class="employee-container">
            <h3>Employee Details</h3>
            <div class="company-container">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Designation</mat-label>
                        <mat-select [disableOptionCentering]="true" formControlName="designation">
                            <mat-option *ngFor="let designation of designations" [value]="designation">{{designation}}</mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>         
                <div>
                    <mat-form-field class="example-full-width space-left" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="test@example.com" formControlName="employeEmail">
                        <mat-error *ngIf="companyDetails.controls['employeEmail']?.hasError('email')"><strong>Invalid Email</strong></mat-error>
                        <mat-error *ngIf="companyDetails.controls['employeEmail']?.hasError('required')"><strong>Email is required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="company-container">
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input type="tel" matInput placeholder="0987654321" formControlName="employeeContact"> 
                        <mat-error *ngIf="companyDetails.controls['employeeContact']?.hasError('required')"><strong>Contact is required</strong></mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="space-left">
                        <input matInput [max] ="startDate"  [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker" style="width:0.5em;"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            
            <div formGroupName="skillsInfo">
                <h3>Rate your Skill</h3>
               <div class="company-container">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Skill</mat-label>
                        <mat-select [disableOptionCentering]="true" formControlName="skills">
                            <mat-option *ngFor="let skill of skillSet" [value]="skill">{{skill}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="space-left">
                        <mat-label>Rating</mat-label>
                        <mat-select [disableOptionCentering]="true" formControlName="rating">
                            <mat-option *ngFor="let rate of rating" [value]="rate">{{rate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
               </div>
    
            </div>
        </div>
        <button  mat-raised-button (click)="saveData()" class="saveButton">Save</button>
    </form>
    
</div>

    

