::ng-deep .mat-form-field {
    width: 300px;
    font-size: 12px;
    display: block;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black!important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 150%;
}
.container{
    display: flex;
    flex-direction: column;
}