::ng-deep .mat-form-field {
    width: 300px;
    font-size: 12px;
    display: flex;
    align-items: center;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black!important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 150%;
}
::ng-deep .mat-calendar {
    background-color:#c2cfce;
    border-radius: 5px;
}
h3{
    display: flex;
    justify-content: center;
    color:#618f6d;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}
.company-container{
    display: flex;
    flex-direction:row;
    margin-left: 200px;
}
.space-left{
    margin-left: 30px;
}
.saveButton{
    background-color: #c2cfce;
    width: 20px;
    display: flex;
    margin-left:47%;
}