<div class="container">
<mat-drawer-container style="height: 700px; width: 100%; position: fixed;" [hasBackdrop]="false">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon style="color: black; position: fixed;" (click)="drawer.toggle()" class="heading">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-toolbar-row>
  <mat-drawer style="width: 200px" #drawer mode='push'>
    <h2 style="margin-left: 10px">EasyEcom</h2>
    <p mat-list-item [routerLink]=" 'company-list' ">Company List</p>
    <p mat-list-item [routerLink]="'add-company'">New Company</p>  
  </mat-drawer>
</mat-drawer-container>

</div>
