.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: -0.25em .75em 0 .75em;
}
.mat-form-field-wrapper {
    padding-bottom: -1.65625em;
}
.header{
    position: relative;
    margin-top: 10px;
}
.search{
    width: 35px;
    right: 320px;
    position: absolute;
}
.date{
    /* width: 100px; */
    height: 40px;
    float: right;
    margin-right: 40px;
}
.table-container{
    display: flex;
    margin: 40px;
}
.title-toolbar{
    background-color: #006699;
}
.heading{
    font-weight: bold;
    color: white
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.mat-drawer{
    background-color: #c2cfce;
}
p {
    display: block;
    height: 20px;
    padding: 10px;
    color: black;
    background-color: #c2cfce;
    text-align: center;
    cursor: pointer;

}
p:hover{
    background-color: #618f6d;
}
.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
}
.company-container{
    display: flex;
    flex-direction: row;
}