<div>
<mat-drawer-container style="height: 700px; width: 100%; position: fixed;" [hasBackdrop]="false">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon style="color: black; position: fixed;" (click)="drawer.toggle()" class="heading">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-toolbar-row>
  <mat-drawer style="width: 200px" #drawer mode='push'>
    <div class="header">
      <h1 class="company-name">EasyEcom</h1>
    </div>
    <div>
      <p mat-list-item [routerLink]=" 'company-list' ">Company List</p>
      <p mat-list-item [routerLink]="'add-company'">New Company</p>  
    </div>
  </mat-drawer>
</mat-drawer-container>

</div>
